
/*width
	color
	style*/

/*div {
	background: rgb(255,255,255);
}
*/

#test{
	background: white;
	border: 2px solid green;
}

p{
	color: blue;
}


body{
	background: red;
}

.one{
	background: white;
}